<div class="book">
  <div class="book-image">
    <%= image_tag(book.sample_cover) %>
  </div>
  <div class="book-content">
    <h1><%= book.title %></h1>
    <% if book.author.present? %>
      <h3>by <%= link_to book.author.name, book.author %></h3>
    <% end %>

    <% if book.has_summary? %>
      <% # doesn't yet handle paragraphs, line breaks yet %>
      <%= simple_format book.summary, class: "summary" %>
    <% end %>

    <% if book.has_release_date? %>
      <p class="released-on"><%= l(book.released_on, format: :long) %></p>
    <% end %>

    <% if book.has_average_rating? %>
      <p>Average rating:
        <span class="average-rating"><%= book.average_rating %></span>
      </p>
    <% end %>
  </div>
</div>
