<h1><%= t(".header")%></h1>

<% if books.any? %>
  <div class="filters">
    <%= render "books/filter", filter: filter %>
    <%= link_to(t("sorting.by_title"), sort_path("title")) %> |
    <%= link_to(t("sorting.newest_first"), sort_path(Book::SORT_CRITERIA_RELEASE_DATE)) %>
  </div>

  <%= render "books/books", books: books %>

  <%= paginate books %>
<% else %>
  <h1><%= t(".no_books_yet") %></h1>
<% end %>
