<h1><%= t(".header")%></h1>

<%= render "books/filter", filter: filter %>

<% if books.any? %>
  <%= render "books/books", books: books %>
  <%= paginate books %>
<% else %>
  <h1><%= t(".no_books_yet") %></h1>
<% end %>
