<div class="comment">
  <div class="comment-image">
    <%= gravatar_image_tag(review.reviewer_email, :alt => review.reviewer_email) %>
  </div>
  <div class="comment-content">
    <h1><%= review.reviewer_email %></h1>
    <%= simple_format review.body %>
    <% if review.rating %>
      <div>Rating: <span class="rating"><%= review.rating %></span></div>
    <% end %>
    <span class="timestamp"><%= time_ago_in_words review.created_at %> ago</span>
  </div>
</div>
